
/* Style du contenus en boite */
div#content div.annonce{
	background-color: purple;
	width: 100%;
	margin: 8px;
}
div#content{
	background-color: #777;
}
div#content div{
	display: inline-block;
	width: 48%;
}

div#content div h1, p, iframe{
	margin: 35px;
}

div#content div.leftbox{
	background-color: yellow;
	vertical-align: top;
}

div#content div.rightbox{
	background-color: green;
}

/* Style du menu */
nav.menu-nav ul li.btn{
	display: inline-block;
	list-style-type: none;
}

nav.menu-nav ul li.btn a{
	color: white;
	background-color: #D99439;
	text-decoration: none;
	padding: 10px;
}

nav.menu-nav ul li.btn:hover a{
	color: #D99439;
	background-color: white;
	transition: 0.5s all;
}

div.annonce img{
	border-radius: 20%
}
/* Style du haut de page */

/* Style du pied de page */

